:root{
  --col-itit: #002B4E;
  --col-blue: #185CFF;
  --col-blue-secondary: #F0F9FF;
  --col-blue-light: #C9DCEC;
  --col-grey-init: #607D94;
  --col-grey-second: #9497A1;
}

html{
  scroll-behavior: smooth;
}
.active{
  border-bottom: 1px solid #FFF;
}
.col-grey{
  color: var(--col-grey-second);
}

/*Header and footer*/
.header, .footer, .sectionhead{
  background-color: var(--col-itit);
}

.header li a{
  color: #fff;
} 
.footer .subscribe, .footer .QuickLinks, .footer .copyright{
  padding: 20px 45px;
  border-bottom: 1px solid var(--col-grey-init);
}
.footer .subscribe p{
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  color: #FFF;
}
.footer .newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .bgForm{
  background-color: var(--col-blue-light);
}
.footer .bgForm::placeholder{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000;
}
.footer .QuickLinks{
  margin-top: 30px;
}
.footer .QuickLinks .description p, .footer .QuickLinks .links ul li a{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: var(--col-grey-second);
}
.footer .QuickLinks .description .bgIcon {
  /* background: #F1F6FA; */
  padding: 12px;
  border-radius: 50%;
}
.footer .copyright p {
  color: var(--col-grey-init); 
}
.footer .copyright .privacy{
  display: flex;
  justify-content: space-around;
}
.footer .copyright .privacy p a{
  color: var(--col-grey-init);
  text-decoration: none;
}
/*Header and footer*/
/*main*/
.sectionhead{
  border-top: 1px solid var(--col-grey-init);
}
.sectionhead p {
  color: var(--col-grey-second);
}
.sectiontitle{
  width: 65%;
  font-weight: bold;
}
.sectiontitle::after{
  content: '';
  border: 4px solid blue;
  border-radius: 5px;
  display: flex;
  margin: 1rem 0;
  width: 95px;
}
.stat{
  font-size: 55px;
  color: var(--col-blue);
}
.reviews{
  background-color: var(--col-blue-secondary);
}
.reviewCard{
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
.swiper-button-prev, .swiper-button-next{
  opacity: 0.3;
}
.CardPricing{
  padding: 50px 30px;
}
.CardPricinglastOne{
  padding: 30px;
}
.PricingShow{
  position: relative;
}
.PricingShow button{
    padding: 5px 50px;
}
.PricingShow button:first-child{
    position: absolute;
    margin-left: -130px;
}
.contact{
  padding: 90px;
  background-color: #F1F6FA;
}
.userInfo{
  display: flex;
  justify-content: space-between;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.form-group label{
  font-size: 12px;
  line-height: 24px;
  color: var(--col-grey-second);
  margin-bottom: 0.5rem;
}
.form-group input{
  border: none;
  outline: none;
  border-bottom: 1px solid #000;;
  background-color: transparent;
}

/*main*/